body{
    background-color: aliceblue;
}


.result {
    
    display: flex;
    flex-wrap: wrap;
    
}
.container{
    margin: 50px;
    

}
.image{
    border-radius: 15px;
    
    
}
.name{
     
    text-align: center;
    padding-bottom: 5px;
    font-family: fantasy;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}
.myData{
    text-align: center;
    text-align: center;
    padding-bottom: 5px;
    font-family: fantasy;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}
.loginStyle{
    font-size: 25px;
    font-weight: lighter;
    font-style: normal;
    color: grey;
    padding-bottom: 10px;
}